<%= form_for @user, remote: true do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :github_acct, 'Github Account' %><br>
		<%= f.text_field :github_acct %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>